@model ComputerAssembly
@section CSSFiles{
    <link rel="stylesheet" href="~/css/configurationPC.css" />
  
}

<h1>Конфигуратор </h1>
<section>
    <h2>Основные комплектующие</h2>
    <div class="form-group">
        <label class="control-label">Процессор</label>
        <select class="form-control">
            @foreach (var item in ViewBag.CompProcessors)
            {
                <option value="@item.Id">
                    @item.Name
                </option>
            }
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Материнская плата</label>
        <select class="form-control">
            @foreach (var item in ViewBag.MotherCards)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Корпус</label>
        <select class="form-control">
            @foreach (var item in ViewBag.CompBodies)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Блок питания</label>
        <select class="form-control">
            @foreach (var item in ViewBag.PowerSupplyUnits)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Оперативная память</label>
        <select class="form-control" >
            @foreach (var item in ViewBag.RAMMemories)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">SSD/HDD</label>
        <select class="form-control">
            @foreach (var item in ViewBag.StorageDevices)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Видеокарта</label>
        <select class="form-control" >
            @foreach (var item in ViewBag.VideoCards)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
</section>


@*<section>

    <h2>Дополнительные</h2>

    <div class="form-group">
        <label class="control-label">Охлаждение процессора</label>
        <select class="form-control" ></select>
    </div>
    <div class="form-group">
        <label class="control-label">Охлаждение</label>
        <select class="form-control"></select>
    </div>
    <div class="form-group">
        <label class="control-label">Переходники</label>
        <select class="form-control"></select>
    </div>
    <div class="form-group">
        <label class="control-label">ОС</label>
        <select class="form-control"></select>
    </div>
</section>*@

<section>

    <h2>Периферия</h2>

    <div class="form-group">
        <label class="control-label">Монитор</label>
        <select class="form-control">
            @foreach (var item in ViewBag.Monitors)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Мышка</label>
        <select class="form-control">
            @foreach (var item in ViewBag.Mouses)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Клавиатура</label>
        <select class="form-control">
            @foreach (var item in ViewBag.Keyboards)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Наушники/колонки</label>
        <select class="form-control">
            @foreach (var item in ViewBag.Speakers)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
</section>


<div class="form-group btnForm">
    <a class="btn btn-dark btnOrder">Заказать</a>
</div>
