@model AdminPanel.Models.VideoCard


<div>
    <h4>Видеокарта</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Family)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Family)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LetterIndex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LetterIndex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Generation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Generation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Series)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Series)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeMemory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeMemory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CountMemory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CountMemory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Изменить</a> |
    <a asp-action="Index">Вернуться</a>
</div>