@model AdminPanel.Models.CompProcessor

<h3>Вы уверены, что хотите удалить?</h3>
<div>
    <h4>Процессор</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Socket)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Socket)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CountCores)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CountCores)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CountThreads)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CountThreads)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Frequency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TurboTechnology)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TurboTechnology)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeRam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeRam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HaveVideoCard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HaveVideoCard)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться</a>
    </form>
</div>
