@model IEnumerable<AdminPanel.Models.ComputerAssembly>


<p>
    <a asp-action="Create">Добавить сборку</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompBody)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotherCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowerSupplyUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompProcessor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RAMMemory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StorageDevice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompBody.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MotherCard.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PowerSupplyUnit.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompProcessor.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RAMMemory.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StorageDevice.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VideoCard.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostPrice)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>